html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
.fix-topmenu {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 999999999;
}
body {
  background: #333;
  min-width: 1024px;
  width: 100%;
}
body h1 {
  font-size: 20px;
  font-weight: normal;
}
header {
  min-height: 60px;
  background: #f1f1f1;
  padding: 0px 20px;
}
nav ul.header {
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  display: table;
  width: 100%;
  font-size: 14px;
}
nav ul.header li {
  list-style: none;
  display: table-cell;
  text-align: right;
}
nav ul.header li:first-child {
  text-align: left;
}
nav ul.header li.notif {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
nav ul.header li.notif div {
  background: #fc0;
  color: #000;
  padding: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
nav ul.header li.icon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
nav ul.header li.icon img {
  width: auto;
  margin: 0 5px;
}
nav ul.header li.icon_user {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
nav ul.header li.icon_user img {
  width: 30px;
  margin: 0 5px;
}
nav ul.header li:last-child {
  width: 1%;
  white-space: nowrap;
  padding-left: 5px;
}
div#content {
  background: #efefef;
  min-height: 42px;
  overflow: hidden;
}
div#content #topmenu {
  border-top: solid 3px #fc0;
}
div#content nav {
  background: #f9f9f9;
  padding: 0px 20px;
  border-bottom: solid 1px #ddd;
}
div#content nav ul.header li:first-child {
  width: 1%;
}
div#content nav ul.header li:nth-child(2) {
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  div#content nav #menubtn {
    display: none;
  }
}
div#content nav .border-menu {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 2.25em;
}
div#content nav .border-menu:before {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0;
  width: 1.2em;
  height: 0.1625em;
  border-top: 0.56875em double #666;
  border-bottom: 0.189583333333333em solid #666;
}
div#content #viewer {
  position: relative;
  top: 0;
  left: 0;
  border: solid 1px transparent;
  display: table;
  width: 100%;
  font-size: 12px;
  zoom: 1;
}
div#content #viewer:before,
div#content #viewer:after {
  content: "";
  display: table;
}
div#content #viewer:after {
  clear: both;
}
div#content #viewer #sidemenu {
  width: 250px;
  background: #f9f9f9;
  border-right: solid 1px #ddd;
  padding-top: 10px;
  display: none;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 1200px) {
  div#content #viewer #sidemenu {
    height: 100%;
    display: table-cell;
    float: none;
    position: relative;
    top: 0;
    left: 0;
  }
}
div#content #viewer #sidemenu nav {
  padding-top: 20px;
  color: #8a8a8a;
}
@media only screen and (min-width: 1200px) {
  div#content #viewer #sidemenu nav {
    border-bottom: none;
  }
}
div#content #viewer #sidemenu nav ul {
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}
div#content #viewer #sidemenu nav ul li {
  list-style: none;
  font-weight: bolder;
  margin-bottom: 50px;
  line-height: 1.4em;
}
div#content #viewer #sidemenu nav ul li li {
  -webkit-padding-start: 10px;
  font-weight: normal;
  margin-bottom: 0px;
}
div#content #viewer #mainpage {
  padding-top: 20px;
  display: block;
}
@media only screen and (min-width: 1200px) {
  div#content #viewer #mainpage {
    display: table-cell;
  }
}
div#content #viewer .breadcrumb {
  color: #ccc;
  width: 900px;
  margin: 10px auto;
}
div#content #viewer .notification {
  background: #ffc;
  width: 900px;
  margin: 10px auto;
  text-align: center;
  display: none;
}
div#content #viewer .notification section {
  padding: 15px;
}
div#content #viewer .loginbox {
  width: 400px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 5px #666;
  box-shadow: 1px 2px 5px #666;
  min-height: 500px;
  position: relative;
}
div#content #viewer .loginbox .bglogin {
  width: 100%;
  height: 200px;
  background: #999;
}
div#content #viewer .loginbox .logologin {
  width: 170px;
  height: 170px;
  margin: auto;
  border: solid 4px #cdcdcd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 100px;
  left: 111px;
}
div#content #viewer .loginbox form {
  width: 300px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
}
div#content #viewer .loginbox form div {
  line-height: 1.5em;
}
div#content #viewer .loginbox form div input[type="text"],
div#content #viewer .loginbox form div input[type="password"] {
  width: 286px;
  background: #f0f0f0;
  border: solid 2px #cdcdcd;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 1.3em;
}
div#content #viewer .loginbox form div input[type="submit"] {
  width: 300px;
  padding: 12px;
  color: #fff;
  background: #063;
  font-size: 1.3em;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
div#content #viewer .paper {
  width: 900px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 5px #666;
  box-shadow: 1px 2px 5px #666;
  min-height: 700px;
  margin-bottom: 50px;
}
footer {
  zoom: 1;
  background: #333;
  min-height: 100px;
  padding: 0px 20px;
}
footer:before,
footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
