@import 'nib'

$global_bg = #333
$global_width = 1024px
$global_padding = 0px 20px

normalize-base()
normalize-html5()

.fix-topmenu
	fixed top 0px left
	z-index 999999999

body
	background $global_bg
	min-width $global_width
	width 100%
	
	h1
		font-size 20px
		font-weight normal
	
header
	min-height 60px
	background #F1F1F1
	padding $global_padding
	
nav 
	ul.header
		-webkit-padding-start 0
		-webkit-margin-after 0
		-webkit-margin-before 0
		display table
		width 100%
		font-size 14px

		li
			list-style none
			display table-cell
			text-align right

		li:first-child
			text-align left
		
		li.notif
			width 1%
			white-space nowrap
			vertical-align middle
		
		li.notif div
			background #FC0
			color black
			padding 5px
			border-radius 50%

		li.icon
			width 1%
			white-space nowrap
			vertical-align middle
		
		li.icon img
			width auto
			margin 0 5px
		
		li.icon_user
			width 1%
			white-space nowrap
			vertical-align middle

		li.icon_user img
			width 30px
			margin 0 5px
		
		li:last-child
			width 1%
			white-space nowrap
			padding-left 5px
	
div#content
	background #EFEFEF
	min-height 42px
	overflow hidden
	
	#topmenu
		border-top solid 3px #FC0

	nav
		background #F9F9F9
		padding $global_padding
		border-bottom solid 1px #DDDDDD
		
		ul.header
			
			li:first-child
				width 1%

			li:nth-child(2)
				text-align left
		
		#menubtn
			+above(1200px)
				display none

		.border-menu
			relative top left
			padding-left 2.25em
		
		.border-menu:before
			content ""
			absolute top 0.1em left 0
			width 1.2em
			height (0.125*1.3)em
			border-top @height*3.5 double #666
			border-bottom (@border-top/3)em solid #666
		
	#viewer
		relative top left
		border solid 1px transparent
		display table
		width 100%
		font-size 12px
		clearfix()
		
		#sidemenu
			width 250px
			background #F9F9F9
			border-right solid 1px #DDDDDD
			padding-top 10px
			display none
			float left
			absolute top left
			
			+above(1200px)
				height 100%
				display table-cell
				float none
				relative top left
						
			
			nav
				padding-top 20px
				color #8A8A8A
				
				+above(1200px)
					border-bottom none
			
				ul
					-webkit-padding-start 0
					-webkit-margin-after 0
					-webkit-margin-before 0
				
				ul li
					list-style none
					font-weight bolder
					margin-bottom 50px
					line-height 1.4em
				
				ul li li
					-webkit-padding-start 10px
					font-weight normal
					margin-bottom 0px
		
		#mainpage
			padding-top 20px
			display block
			
			
			+above(1200px)
				display table-cell
				
			
		.breadcrumb
			color #CCC
			width 900px
			margin 10px auto
		
		.notification
			background #ffffcc
			width 900px
			margin 10px auto
			text-align center
			display none
			
			section
				padding 15px
		
		.loginbox
			width 400px
			margin auto
			background white
			box-shadow 1px 2px 5px #666
			min-height 500px
			position relative
			
			.bglogin
				width 100%
				height 200px
				background #999
				
			.logologin
				width 170px
				height 170px
				margin auto
				border solid 4px #cdcdcd
				border-radius 50%
				background white
				position absolute
				top 100px
				left ((400/2)-(178/2))px
			
			form
				width 300px
				margin auto
				margin-top 120px
				margin-bottom 100px
				
				div
					line-height 1.5em
					
					input[type="text"], input[type="password"]
						width 286px
						background #f0f0f0
						border solid 2px #cdcdcd
						padding 5px
						margin-bottom 20px
						font-size 1.3em
						
					input[type="submit"]
						width 300px
						padding 12px
						color white
						background #006633
						font-size 1.3em
						border none
						border-radius 10px
						text-align center
						margin-top 50px
						margin-bottom 50px

		.paper
			width 900px
			margin auto
			background white
			box-shadow 1px 2px 5px #666
			min-height 700px
			margin-bottom 50px

footer
	clearfix()
	background #333
	min-height 100px
	padding $global_padding